<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/links')%>
    <title>SIGEMI</title>
</head>
<body>
    <%-include('./partials/nav')%>
    <section>
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <h1>Sistema de Gestion de Militantes (SIGEMI)</h1>
            <p>
                SIGEMI es un sistema desarrollado para almacenar, mantener y analisar una base de datos que contiene informacion sobre los militantes de un partido politico en especifico
            </p>
        </div>
    </section>
</body>
</html>